<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width=1200px, initial-scale=1.0">
    <title>Forgot Password Page</title>
    <link rel="icon" href="{{url_for('static',filename='logo.png')}}" type="image/jpg">
    <link rel="stylesheet" href="{{url_for('static',filename='forgotpassword.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
            }
        var y = document.getElementById("myInput1");
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
            }
        }
    </script>
</head>
<body>
    <ul class = "nav">
        <a href = "{{url_for('index')}}"><img src="{{url_for('static',filename='aws-nlp.png')}}" height="100px" width="375px" style="margin-top: -7px;"></a>
        <div class="navbar">
            <li class="navbar-item"><a href="{{url_for('login')}}" class="navRef"><b>Login</b></a></li>
            <li class="navbar-item"><a href="{{url_for('registration')}}" class="navRef"><b>Registration</b></a></li>
        </div>
    </ul>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <center class="regSucs">
                    <b>{{ message }}</b>
                </center>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <center>
        <div class = 'mainBox'>
            <div class="box">
                <img src="{{url_for('static',filename='forgotpassword.png')}}" alt="Login Logo" height="98%" width="99%" style="margin-top: 10px; border-radius: 10px; margin-left: 0px;">
            </div>
            <div class = 'box'>
                <img src="{{url_for('static',filename='form-image.png')}}" width="90px" height="100px" class="logo">
                <h2>AWS Powered NLP</h2>
                <h4 style="margin-left: 6%; font-size: large; margin-bottom: 0px;">Reset your password here.....</h4>
                <div class="formFields">
                <form method="post">
                    <label for="username"><b>Username: </b></label><br>
                    <input type="text" name="username" placeholder="Enter Username" autocomplete="off" style="margin-bottom: -15px;"><br><br>
                    <label for="password"><b>Enter New Password: </b></label><br>
                    <input type="password" name="password" placeholder="Enter New Password" id="myInput" style="margin-bottom: 10px;"><br>
                    <label for="password1"><b>Confirm New Password: </b></label><br>
                    <input type="password" name="password1" placeholder="Confirm New Password" id="myInput1"><br>
                    <input type="checkbox" name="remember me" onclick="myFunction()" style="margin-top: -30%;">
                    <label for="remember me" style="font-size: 15px;">Show Password</label><br>
                    <button type="submit">Reset Password</button>   
                    <h3 class="notMem">To login into your account - <a href="{{url_for('login')}}" class="bodyLink">Click Here</a></h3>
                </form>
                </div>
            </div>
        </div>
    </center>
</body>
<footer>
    <section class="footerDiv">
        <div class="foot" style="width: 33.33%;">
           <b><p style="margin-left: 15%; margin-bottom: 0px; margin-top: 0px; font-size: larger;">Contact Us</p><br>
                <ul style="margin-left: 12%; margin-top: -12px; list-style-type: none;" >
                    <li><i class="fa fa-phone" style="font-size:15px"></i> Phone: <a href="tel:9876543210" style="text-decoration: none;">9876543210</a><br></li>
                    <li><i class="material-icons" style="font-size:15px; margin-top: 3px;">email</i> Email: <a href="mailto:awspowerednlp@gmail.com" style="text-decoration: none;">awspowerednlp@gmail.com</a></li>
                </ul>
            </b>
        </div>
        <div class="foot" style="width: 85%;">
            <b style="font-size: larger; margin-left: 200px;">AWS-NLP: Making sense of big data, one word at a time.</b>
            <p style="margin-top: 0px; font-size: large; padding: 10px; text-align: justify;">In every word, a world awaits; in every sentence, a journey unfolds. With AWS, we meticulously transform text into insights, weaving data into the fabric of tomorrow's narratives. Inspired by humanity, powered by innovation, we craft the future, one profound insight at a time.</p>
        </div>
    </section>
    <h3 style="text-align: center; padding: 0px; margin-bottom: -7px;"><b>&copy;2024 All Rights Reserved</b></h3><br>
</footer>
</html>