<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width=1200px, initial-scale=1.0">
    <title>Text-to-Speech Page</title>
    <link rel="icon" href="{{url_for('static',filename='logo.png')}}" type="image/jpg"> 
    <link rel="stylesheet" href="{{url_for('static',filename='textToSpeech.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <ul class = "nav">
        <a href = "{{url_for('home')}}"><img src="{{url_for('static',filename='aws-nlp.png')}}" height="100px" width="375px" style="margin-top: -7px;"></a>
        <div class="navbar">
            <li class="navbar-item"><a href="{{url_for('home')}}" class="navRef"><b>Home</b></a></li>
            <li class="navbar-item"><a href="{{url_for('sentiment')}}" class="navRef"><b>Sentiment Analysis</b></a></li>
            <li class="navbar-item"><a href="{{url_for('speechToText')}}" class="navRef"><b>Speech-to-Text</b></a></li>
            <li class="navbar-item"><a href="{{url_for('imagetext')}}" class="navRef"><b>Image Text Extraction</b></a></li>
            <li class="navbar-item"><a href="{{url_for('chatbot')}}" class="navRef"><b>ChatBot</b></a></li>
            <li class="navbar-item"><a href="{{url_for('history')}}" class="navRef"><b>History</b></a></li>
            <li class="navbar-item"><a href="{{url_for('about')}}" class="navRef"><b>About Us</b></a></li>
            <li class="navbar-item"><a href="{{url_for('logout')}}" class="navRef"><b>Logout</b></a></li>
        </div>
    </ul>
    <div class="container">
        <center>
            <h1 style="font-weight: bolder;font-size: 50px; width: 800px; border-radius: 20px; padding: 5px;">Text to Speech Converter</h1>
            <textarea name="text" id="text" cols="70" rows="13" placeholder="Type something here to listen!" style="border-radius: 10px; padding: 25px; font-size: 20px; background-color: whitesmoke; border: 2px outset grey; margin-top: -10px;"></textarea>
            <div class="options">
                <select name="voice" class="select" style="width: 700px; height: 45px; font-size: 20px; padding-bottom: 0px; padding-left: 15px; border-radius: 20px; margin-left: 5px; text-align: center;"></select>
                <button id="btn" style="width: 120px; height: 45px; font-size: 20px; border-radius: 20px; margin-left: 10px;">Listen</button>
            </div>
        </center>
    </div>
    <script>
        let speech = new SpeechSynthesisUtterance()
        let voices = []
        let voiceSelect = document.querySelector('select')
        window.speechSynthesis.onvoiceschanged = () => {
            voices = window.speechSynthesis.getVoices();
            speech.voice = voices[0]
            console.log(voices)
            voices.forEach((voice, i) => {
                voiceSelect.options[i] = new Option(voice.name, i)
            })
        }
        voiceSelect.addEventListener("change", () => {
            speech.voice = voices[voiceSelect.value]
        })
        document.getElementById('btn').addEventListener("click", () => {
            speech.text = document.getElementById("text").value;
            window.speechSynthesis.speak(speech)
        })
    </script>
</body>
<footer>
    <section class="footerDiv">
        <div class="foot" style="width: 33.33%;">
           <b><p style="margin-left: 15%; margin-bottom: 0px; margin-top: 0px; font-size: larger;">Contact Us</p><br>
                <ul style="margin-left: 12%; margin-top: -12px; list-style-type: none;" >
                    <li><i class="fa fa-phone" style="font-size:15px"></i> Phone: <a href="tel:9876543210" style="text-decoration: none;">9876543210</a><br></li>
                    <li><i class="material-icons" style="font-size:15px; margin-top: 3px;">email</i> Email: <a href="mailto:awspowerednlp@gmail.com" style="text-decoration: none;">awspowerednlp@gmail.com</a></li>
                </ul>
            </b>
        </div>
        <div class="foot" style="width: 85%;">
            <b style="font-size: larger; margin-left: 200px;">AWS-NLP: Making sense of big data, one word at a time.</b>
            <p style="margin-top: 0px; font-size: large; padding: 10px; text-align: justify;">In every word, a world awaits; in every sentence, a journey unfolds. With AWS, we meticulously transform text into insights, weaving data into the fabric of tomorrow's narratives. Inspired by humanity, powered by innovation, we craft the future, one profound insight at a time.</p>
        </div>
    </section>
    <h3 style="text-align: center; padding: 0px; margin-bottom: -7px;"><b>&copy;2024 All Rights Reserved</b></h3><br>
</footer>
</html>